In [29]:
import pandas as pd
import numpy as np
import random
from itertools import product

In [30]:
# 파일 불러오기
de_list = pd.read_csv("data/hyundae_car_list.csv")
df_inv = pd.read_csv("data/inventory_data.csv")
df_trim = pd.read_csv("data/model_trim_capacity.csv")

In [31]:
de_list['모델명'].unique()

array(['아이오닉6', '아이오닉9', '아이오닉5', '스타리아', '펠리세이드', 'G80', 'GV60', 'GV70',
       'G70', 'G90', 'GV80', '그랜저', '투싼', '쏘나타', '아반떼', '베뉴', '넥쏘', '캐스퍼',
       '코나', '레이', '니로', 'EV3', 'EV4', 'EV6', 'EV9', 'BongoⅢEV', '모닝',
       'K5', 'K8', 'K9', '셀토스', '스포티지', '쏘렌토', '타스만', '카니발', 'K-하이리무진',
       '포터'], dtype=object)

In [33]:
df_inv['공장명'].unique()

array(['인도공장', '싱가포르공장', '울산공장', '인도네시아공장', '아산공장', '브라질공장', '튀르키예공장',
       '앨라배마공장', '중국공장', '전주공장', '체코공장'], dtype=object)

In [23]:
# 모델명 일치 여부 확인
model_list = de_list['모델명'].unique()

In [24]:
# 모델명 유지하며 병합하기 위해 모델명 기준 정제
# df_trim에서 모델명이 포함된 경우만 추출
df_trim_filtered = df_trim[df_trim['모델명'].isin(model_list)]

In [25]:
# 병합을 위한 사전 정제
# 1. 컬럼명 통일: '모델구분' → '모델 구분' (de_list 기준)
de_list = de_list.rename(columns={"모델구분": "모델 구분"})

In [26]:

# 2. de_list와 df_trim_filtered 병합: 모델명 + 트림명 기준
merged_base = pd.merge(
    df_trim_filtered,
    de_list,
    how="left",
    on=["모델명", "트림명"]
)

In [27]:
merged_base.isna().sum()

생산공장        0
모델명         0
모델 구분_x     0
트림명         0
생산가능수량      0
브랜드        52
모델 구분_y    52
탑승인원       52
차량구분       52
연료구분       52
차량형태       52
전장         52
전폭         52
전고         52
배기량        52
공차중량       52
CO2배출량     52
연비         52
기본가격       52
img_url    52
dtype: int64

In [13]:
# 2. 필요한 컬럼만 유지
de_list = de_list[
    ['브랜드', '모델명', '모델 구분', '탑승인원', '트림명', '차량구분', '연료구분',
     '차량형태', '전장', '전폭', '전고', '배기량', '공차중량', 'CO2배출량', '연비']
]

In [15]:
# 3. capacity에서 모델명, 모델 구분, 트림명 기준으로 de_list 병합
df_merge = pd.merge(
    df_trim,
    de_list,
    on=['모델명', '모델 구분', '트림명'],
    how='left'
)

NameError: name 'df_trim' is not defined

In [8]:
# 공통 모델명 확인용 출력
common_models_sample = list(common_models)[:10]
num_common_models = len(common_models)

common_models_sample, num_common_models

(['G80', 'GV60', '펠리세이드', '쏘나타', '스타리아', '아반떼', '그랜저', '넥쏘', '아이오닉6', 'G90'],
 18)