In [2]:
import pandas as pd

In [30]:
df = pd.read_csv("data/processed/보조금/hydro-car.csv")
df

     시도       지역 보조금/승용(만원) 보조금/승합(만원)
0    서울    서울특별시      2,950     35,000
1    부산    부산광역시      3,350     35,000
2    대구    대구광역시      3,250     35,000
3    인천    인천광역시      3,250     35,000
4    광주    광주광역시      3,250     26,000
..   ..      ...        ...        ...
110  경남      밀양시      3,310     35,000
111  경남      거제시      3,310     26,000
112  경남      양산시      3,310     26,000
113  경남      남해군      3,500     34,300
114  제주  제주특별자치도      2,250     35,000

[115 rows x 4 columns]

In [32]:
df.replace(",", "", regex=True, inplace=True)
df.fillna(0, inplace=True)
df["보조금/승용(만원)"] = df["보조금/승용(만원)"].astype(int)
df["보조금/승합(만원)"] = df["보조금/승합(만원)"].astype(int)

In [33]:
df.isna().sum()

시도            0
지역            0
보조금/승용(만원)    0
보조금/승합(만원)    0
dtype: int64

In [34]:
df.dtypes

시도            object
지역            object
보조금/승용(만원)     int64
보조금/승합(만원)     int64
dtype: object

In [35]:
df.to_csv("data/processed/보조금/hydro-car.csv", index=False)