In [1]:
import pandas as pd

In [114]:
df = pd.read_excel("extra_data/raw/소비 심리 관련/신용카드_01103734.xlsx")
df

,계정항목,금융기관 유형코드,2023/12,2024/01,2024/02,2024/03,2024/04,2024/05,2024/06,2024/07,2024/08,2024/09,2024/10,2024/11,2024/12
0,전체 이용건수,합계,1530314,1529028,1402698,1548923,1599950,1638305,1589083,1647629,1648615,1574386,1639489,1576079,1607773
1,전체 이용건수,은행계,946196,951823,869920,956400,996287,1013252,977824,1023846,1015705,973523,1013856,973685,993776
2,전체 이용건수,비은행계,584118,577205,532779,592522,603663,625054,611258,623783,632910,600864,625633,602394,613996
3,개인 이용건수,합계,1419272,1421405,1303452,1436394,1487268,1522895,1476731,1530272,1533186,1468918,1524351,1460576,1495768
4,개인 이용건수,은행계,847694,856470,782319,857051,896448,910902,878367,920051,913654,880049,912181,871995,894746
5,개인 이용건수,비은행계,571578,564935,521134,579343,590821,611993,598364,610221,619532,588870,612170,588581,601022
6,개인 일반구매 이용건수,합계,1372311,1374333,1261278,1391059,1441101,1475203,1431300,1482562,1487545,1422839,1475913,1412409,1447405
7,개인 일반구매 이용건수,은행계,821696,830191,758895,831911,870763,885071,854122,893454,888587,854317,885042,845057,867752
8,개인 일반구매 이용건수,비은행계,550616,544142,502383,559148,570338,590131,577178,589109,598958,568522,590871,567351,579654
9,개인 할부구매 이용건수,합계,42018,41962,37526,40383,41207,42604,40602,42676,40717,41256,43297,43235,43293
10,개인 할부구매 이용건수,은행계,22752,22920,20384,21914,22453,22528,21153,23343,21901,22629,23846,23805,23755
11,개인 할부구매 이용건수,비은행계,19266,19042,17143,18469,18755,20077,19449,19333,18817,18628,19451,19431,19539
12,개인 현금서비스 이용건수,합계,4942,5110,4648,4952,4960,5088,4829,5034,4924,4823,5141,4932,5069
13,개인 현금서비스 이용건수,은행계,3246,3359,3040,3226,3232,3303,3093,3255,3166,3103,3293,3133,3240
14,개인 현금서비스 이용건수,비은행계,1697,1751,1608,1726,1729,1785,1737,1779,1758,1720,1848,1799,1829
15,법인 이용건수,합계,111042,107623,99246,112528,112682,115410,112351,117356,115429,105468,115138,115503,112005
16,법인 이용건수,은행계,98502,95353,87601,99350,99840,102349,99457,103794,102051,93474,101675,101690,99030
17,법인 이용건수,비은행계,12540,12270,11645,13179,12842,13061,12894,13562,13378,11994,13463,13813,12975
18,전체 이용금액,합계,86873960,87232562,80913256,86623817,86930232,89871138,87217014,90054571,88498992,89098987,91062376,89563030,92138198
19,전체 이용금액,은행계,51557839,51515186,47751954,51254391,50997854,52260816,51026284,52367245,51940739,51985393,53128529,52521406,53298580
20,전체 이용금액,비은행계,35316121,35717375,33161302,35369426,35932378,37610322,36190730,37687326,36558253,37113594,37933847,37041624,38839618
21,개인 이용금액,합계,69841395,71204004,65231848,70463501,69635523,71470287,69465828,72481951,71014563,70148013,73065817,71922129,73073496
22,개인 이용금액,은행계,40330414,40996700,37666919,40540879,39905178,40703561,39634268,41342673,40717205,40132371,41729455,40972162,41131424
23,개인 이용금액,비은행계,29510981,30207304,27564929,29922622,29730345,30766726,29831560,31139278,30297358,30015643,31336362,30949967,31942072
24,개인 일반구매 이용금액,합계,51811589,52304914,48755279,52706219,52072486,53499092,52135546,53659153,53355590,52491264,53883973,53147187,54369194
25,개인 일반구매 이용금액,은행계,29985693,30302742,28285863,30472935,30022059,30777422,30130957,30852819,30911312,30265061,30999058,30573217,30830743
26,개인 일반구매 이용금액,비은행계,21825896,22002172,20469417,22233284,22050427,22721670,22004590,22806334,22444277,22226204,22884915,22573970,23538451
27,개인 할부구매 이용금액,합계,13329027,14024020,11922204,12969098,12806256,13083041,12624201,13896605,12768837,12863555,14108485,13799112,13547251
28,개인 할부구매 이용금액,은행계,7209216,7474411,6394446,6952543,6829634,6789467,6526832,7360701,6710899,6844719,7537273,7299323,7078538
29,개인 할부구매 이용금액,비은행계,6119811,6549609,5527758,6016555,5976623,6293574,6097369,6535903,6057938,6018836,6571212,6499789,6468713
30,개인 현금서비스 이용금액,합계,4700779,4875071,4554364,4788184,4756781,4888154,4706080,4926193,4890137,4793194,5073360,4975830,5157050
31,개인 현금서비스 이용금액,은행계,3135506,3219548,2986610,3115401,3053485,3136672,2976479,3129153,3094994,3022591,3193124,3099622,3222142
32,개인 현금서비스 이용금액,비은행계,1565274,1655523,1567754,1672783,1703296,1751482,1729602,1797040,1795143,1770603,1880236,1876208,1934908
33,법인 이용금액,합계,17032565,16028558,15681409,16160317,17294709,18400852,17751186,17572619,17484429,18950974,17996559,17640901,19064703
34,법인 이용금액,은행계,11227425,10518486,10085035,10713512,11092676,11557255,11392016,11024572,11223534,11853023,11399074,11549244,12167156
35,법인 이용금액,비은행계,5805140,5510071,5596373,5446805,6202033,6843597,6359170,6548048,6260895,7097951,6597484,6091657,6897547
36,전체 신용카드 발급장수,합계,129802,130230,130593,130988,131398,131866,132123,132395,132603,132812,133007,133282,133413
37,전체 신용카드 발급장수,은행계,80506,80774,80997,81230,81487,81776,81895,81999,82082,82194,82302,82480,82545
38,전체 신용카드 발급장수,비은행계,49296,49456,49596,49758,49911,50090,50229,50395,50521,50618,50704,50802,50868
39,개인 신용카드 발급장수,합계,118485,118886,119216,119563,119927,120360,120588,120834,121008,121205,121374,121636,121764
40,개인 신용카드 발급장수,은행계,70730,70976,71172,71368,71586,71852,71959,72047,72103,72210,72305,72474,72554
41,개인 신용카드 발급장수,비은행계,47755,47910,48044,48195,48342,48509,48629,48787,48905,48994,49069,49162,49210
42,법인 신용카드 발급장수,합계,11317,11344,11377,11425,11471,11506,11535,11560,11595,11607,11632,11646,11649
43,법인 신용카드 발급장수,은행계,9777,9797,9824,9862,9902,9925,9936,9952,9979,9984,9997,10006,9991
44,법인 신용카드 발급장수,비은행계,1540,1546,1552,1563,1569,1581,1599,1608,1616,1623,1635,1640,1658

In [115]:
df.columns = df.columns.str.replace("/", "-")

In [117]:
df

,계정항목,금융기관 유형코드,2023-12,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,전체 이용건수,합계,1530314,1529028,1402698,1548923,1599950,1638305,1589083,1647629,1648615,1574386,1639489,1576079,1607773
1,전체 이용건수,은행계,946196,951823,869920,956400,996287,1013252,977824,1023846,1015705,973523,1013856,973685,993776
2,전체 이용건수,비은행계,584118,577205,532779,592522,603663,625054,611258,623783,632910,600864,625633,602394,613996
3,개인 이용건수,합계,1419272,1421405,1303452,1436394,1487268,1522895,1476731,1530272,1533186,1468918,1524351,1460576,1495768
4,개인 이용건수,은행계,847694,856470,782319,857051,896448,910902,878367,920051,913654,880049,912181,871995,894746
5,개인 이용건수,비은행계,571578,564935,521134,579343,590821,611993,598364,610221,619532,588870,612170,588581,601022
6,개인 일반구매 이용건수,합계,1372311,1374333,1261278,1391059,1441101,1475203,1431300,1482562,1487545,1422839,1475913,1412409,1447405
7,개인 일반구매 이용건수,은행계,821696,830191,758895,831911,870763,885071,854122,893454,888587,854317,885042,845057,867752
8,개인 일반구매 이용건수,비은행계,550616,544142,502383,559148,570338,590131,577178,589109,598958,568522,590871,567351,579654
9,개인 할부구매 이용건수,합계,42018,41962,37526,40383,41207,42604,40602,42676,40717,41256,43297,43235,43293
10,개인 할부구매 이용건수,은행계,22752,22920,20384,21914,22453,22528,21153,23343,21901,22629,23846,23805,23755
11,개인 할부구매 이용건수,비은행계,19266,19042,17143,18469,18755,20077,19449,19333,18817,18628,19451,19431,19539
12,개인 현금서비스 이용건수,합계,4942,5110,4648,4952,4960,5088,4829,5034,4924,4823,5141,4932,5069
13,개인 현금서비스 이용건수,은행계,3246,3359,3040,3226,3232,3303,3093,3255,3166,3103,3293,3133,3240
14,개인 현금서비스 이용건수,비은행계,1697,1751,1608,1726,1729,1785,1737,1779,1758,1720,1848,1799,1829
15,법인 이용건수,합계,111042,107623,99246,112528,112682,115410,112351,117356,115429,105468,115138,115503,112005
16,법인 이용건수,은행계,98502,95353,87601,99350,99840,102349,99457,103794,102051,93474,101675,101690,99030
17,법인 이용건수,비은행계,12540,12270,11645,13179,12842,13061,12894,13562,13378,11994,13463,13813,12975
18,전체 이용금액,합계,86873960,87232562,80913256,86623817,86930232,89871138,87217014,90054571,88498992,89098987,91062376,89563030,92138198
19,전체 이용금액,은행계,51557839,51515186,47751954,51254391,50997854,52260816,51026284,52367245,51940739,51985393,53128529,52521406,53298580
20,전체 이용금액,비은행계,35316121,35717375,33161302,35369426,35932378,37610322,36190730,37687326,36558253,37113594,37933847,37041624,38839618
21,개인 이용금액,합계,69841395,71204004,65231848,70463501,69635523,71470287,69465828,72481951,71014563,70148013,73065817,71922129,73073496
22,개인 이용금액,은행계,40330414,40996700,37666919,40540879,39905178,40703561,39634268,41342673,40717205,40132371,41729455,40972162,41131424
23,개인 이용금액,비은행계,29510981,30207304,27564929,29922622,29730345,30766726,29831560,31139278,30297358,30015643,31336362,30949967,31942072
24,개인 일반구매 이용금액,합계,51811589,52304914,48755279,52706219,52072486,53499092,52135546,53659153,53355590,52491264,53883973,53147187,54369194
25,개인 일반구매 이용금액,은행계,29985693,30302742,28285863,30472935,30022059,30777422,30130957,30852819,30911312,30265061,30999058,30573217,30830743
26,개인 일반구매 이용금액,비은행계,21825896,22002172,20469417,22233284,22050427,22721670,22004590,22806334,22444277,22226204,22884915,22573970,23538451
27,개인 할부구매 이용금액,합계,13329027,14024020,11922204,12969098,12806256,13083041,12624201,13896605,12768837,12863555,14108485,13799112,13547251
28,개인 할부구매 이용금액,은행계,7209216,7474411,6394446,6952543,6829634,6789467,6526832,7360701,6710899,6844719,7537273,7299323,7078538
29,개인 할부구매 이용금액,비은행계,6119811,6549609,5527758,6016555,5976623,6293574,6097369,6535903,6057938,6018836,6571212,6499789,6468713
30,개인 현금서비스 이용금액,합계,4700779,4875071,4554364,4788184,4756781,4888154,4706080,4926193,4890137,4793194,5073360,4975830,5157050
31,개인 현금서비스 이용금액,은행계,3135506,3219548,2986610,3115401,3053485,3136672,2976479,3129153,3094994,3022591,3193124,3099622,3222142
32,개인 현금서비스 이용금액,비은행계,1565274,1655523,1567754,1672783,1703296,1751482,1729602,1797040,1795143,1770603,1880236,1876208,1934908
33,법인 이용금액,합계,17032565,16028558,15681409,16160317,17294709,18400852,17751186,17572619,17484429,18950974,17996559,17640901,19064703
34,법인 이용금액,은행계,11227425,10518486,10085035,10713512,11092676,11557255,11392016,11024572,11223534,11853023,11399074,11549244,12167156
35,법인 이용금액,비은행계,5805140,5510071,5596373,5446805,6202033,6843597,6359170,6548048,6260895,7097951,6597484,6091657,6897547
36,전체 신용카드 발급장수,합계,129802,130230,130593,130988,131398,131866,132123,132395,132603,132812,133007,133282,133413
37,전체 신용카드 발급장수,은행계,80506,80774,80997,81230,81487,81776,81895,81999,82082,82194,82302,82480,82545
38,전체 신용카드 발급장수,비은행계,49296,49456,49596,49758,49911,50090,50229,50395,50521,50618,50704,50802,50868
39,개인 신용카드 발급장수,합계,118485,118886,119216,119563,119927,120360,120588,120834,121008,121205,121374,121636,121764
40,개인 신용카드 발급장수,은행계,70730,70976,71172,71368,71586,71852,71959,72047,72103,72210,72305,72474,72554
41,개인 신용카드 발급장수,비은행계,47755,47910,48044,48195,48342,48509,48629,48787,48905,48994,49069,49162,49210
42,법인 신용카드 발급장수,합계,11317,11344,11377,11425,11471,11506,11535,11560,11595,11607,11632,11646,11649
43,법인 신용카드 발급장수,은행계,9777,9797,9824,9862,9902,9925,9936,9952,9979,9984,9997,10006,9991
44,법인 신용카드 발급장수,비은행계,1540,1546,1552,1563,1569,1581,1599,1608,1616,1623,1635,1640,1658

In [118]:
df.isna().sum().sum()

0

In [119]:
df.dtypes

계정항목         object
금융기관 유형코드    object
2023-12       int64
2024-01       int64
2024-02       int64
2024-03       int64
2024-04       int64
2024-05       int64
2024-06       int64
2024-07       int64
2024-08       int64
2024-09       int64
2024-10       int64
2024-11       int64
2024-12       int64
dtype: object

In [120]:
df.to_csv("extra_data/processed/소비 심리 관련/신용카드_01103734.csv", index=False)